body {
	margin:0px !important;
	background-color: #B0B8BA;
	font-family: sans-serif;
}

.top-bar {
	width: 100%;
	padding: 10px;
	background-color: black;
	color: white;
}

.logo {
	height: 20px;
}

.side-bar {
	width: 100%;
	padding: 15px;
}

.main-body {
	width: 100%;
	padding: 15px;
}

.btn-primary {
	box-shadow: 5px 5px 5px #888888;
	background-color: #7A8288;
	color: white;
	border: 0px;
	border-radius: 2px;
	font-family: cursive;
}

.btn-primary:hover {
	outline: none;
	background-color: #6F7173;
}

.btn-primary:focus {
	outline: none;
}

.edit-bar {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;	
	border-radius: 2px;
	color: white;
}

.edit-bar .options {
	padding: 5px;
	border-right: solid 1px white;
	cursor: pointer;
}

.edit-bar .options.last {
	padding: 5px;
	cursor: pointer;
	border-right: none;
}

.edit-bar .options:hover, .edit-bar .options:focus, .edit-bar .options:visited {
	background-color: #7A8288;
}

.sticker {
	width: 216px;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 2px;
	cursor: pointer;
}

.sticker-box {
	padding: 10px;	
	font-family: cursive;
}

.color_comb {
	height:5px;
	width: 5px;
}

.st-white {
	background-color: white;
	color: black;
}

.st-grey {
	background-color: grey;
	color: white;
}

.st-blue {
	background-color: rgb(28, 28, 192);
	color: white;
}

.st-pink {
	background-color: rgb(158, 31, 210);
	color: white;
}

.options#color ul {
    display: none;
	position: absolute;
	left: 70%;
	background-color: black;
	top: 3%;
	-webkit-padding-start: 0px !important;
}

.options#color ul li {
	padding: 5px;
	border: solid 1px white;	
}

.options#color ul li:hover {
	background-color: #6F7173;
}

.options#color:hover ul {
	 display: block;
}

.options#font ul {
    display: none;
	position: absolute;
	left: 32%;
	background-color: black;
	top: 3%;
	-webkit-padding-start: 0px !important;
}

.options#font ul li {
	padding: 5px;
	border: solid 1px white;	
}

.options#font ul li:hover {
	background-color: #6F7173;
}

.options#font:hover ul {
	 display: block;
}



/******** Editable CLasses ***********/
.bold {
	font-weight: 800;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}



/********* Font Sizes ***********/
.ft-24 {
	font-size: 24px;
}

.ft-18 {
	font-size: 18px;
}

.ft-17 {
	font-size: 17px;
}

.ft-14 {
	font-size: 14px;
}

.ft-12 {
	font-size: 12px;
}

/********** Padding **************/
.p-10 {
	padding: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-20 {
	padding-right: 20px;
}
